.tools {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.icon {

    width: 25px;
    height: 25px;
    font-size: 22px;
    margin-right: 10px;
    box-sizing: content-box;
    padding: 5px;
}

.icon:hover {
    color: blueviolet;
    cursor: pointer;
    border: 1px solid;

}

.darkMode {
    display: flex;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 22px;
    margin-right: 10px;
    box-sizing: content-box;
    padding: 5px;
    background: none;
    border: none;
}