.mycontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.left,
.right {


    width: 24.7%;
    background-color: grey;
}

.right {
    text-align: center;
    padding: 1rem;
}